*{
    box-sizing: border-box;
    margin: 0;
}
nav
{
    display:flex;
    justify-content: flex-end;
    background-color:skyblue;
    color: black;
    height: 50px;
}
a
{
    
    margin-left: 15px;
    margin-top: 15px;
    text-decoration: none;
}
#nav
{
    margin-right: 1125px;
    margin-top: 15px;
}
#photo
{
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black ;
    height:200px;
    width: 200px;
    background-color: white;
}
article
{
    font-size: large;
    padding-top: 10%;
    text-align: center;
    height: 400px;
    background-color:skyblue;
    color: white;
}

h2
{
    margin-top: 20px;
}
#conteneur
{
    
padding: px;
display: flex;
flex-wrap: wrap;
margin-left: 30px;

}
aside
{
    width:30%;
    height:300px;
    margin: 5px;
    background-color: antiquewhite;
}
form
{
    width: 1300px;
    height: 150px;
    margin-left: 35px;
    margin-bottom: 15px;
}
label
{
  
}
.formulaire
{
    margin-bottom: 10px;
}
fieldset
{
    background-color: skyblue;
}
footer
{
    background-color: skyblue;
    height: 225px;
}
.foot
{
    text-align: center;
    padding-top: 120px;
    font-size:xx-large;
}








